<div class="faq_bottom">
  	   <h4 class="tz-title-4 tzcolor-blue">
        <p class="tzweight_Bold"><span class="m_1">Запитайтесь<br></span>у нас</p>
      </h4>
  	   <%= form_for question do |form| %>
			<div class="form_list1">
				<%= form.text_field :name, class: 'text', placeholder: "Ім’я" %>
             	<%= form.text_field :email, class: 'text', placeholder: "Email", style: 'margin-left:2%' %>
			</div>
			<div class="form_list2">
				<%= form.text_field :subject, class: 'text', placeholder: "Тема" %>
			</div>
			<div class="form_list3">
				<%= form.text_area :message, placeholder: "Ваше питання" %>
            </div>
            <div class="form-submit">
            	<%= form.submit "Надіслати" %><br>
	        </div>
			<div class="clearfix"></div>
      <% end %>
  </div>