<div class="banner">
	 <div class="container">
		<!-- FlexSlider -->
              <section class="slider">
				  <div class="flexslider">
					<ul class="slides">
						<li><img src="images/servers.png" class="img-responsive" alt=""/>
							<div class="banner_desc">
								<h1>Awesome Hosting</h1>
								<h2>with unlimited features</h2>
							</div>
						</li>
						<li><img src="images/server.png" class="img-responsive" alt=""/>
							<div class="banner_desc">
								<h1>Awesome Hosting</h1>
								<h2>with unlimited features</h2>
							</div>
						</li>
						<li><img src="images/server1.png" class="img-responsive" alt=""/>
							<div class="banner_desc">
								<h1>Awesome Hosting</h1>
								<h2>with unlimited features</h2>
							</div>
						</li>
						
				    </ul>
				  </div>
	         </section>
           <!-- FlexSlider -->
	</div>
</div>

<div class="benefit">
	<div class="container">
		<h4 class="tz-title-4 tzcolor-blue">
            <p class="tzweight_Bold"><span class="m_1">Наші<br></span>переваги</p>
        </h4>
		<div class="box1">
			<div class="col-md-4 row_10">
				<ul class="service_grid">
   	   			   <i class="s1"> </i>
   	   			   <li class="desc">
   	   				<h3>99.9% Uptime</h3>
   	   				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
   	   			   </li>
   	   			   <div class="clearfix"> </div>
   	   			</ul>
			</div>
			<div class="col-md-4">
				<ul class="service_grid">
   	   			   <i class="s2"> </i>
   	   			   <li class="desc">
   	   				<h3>24/7/365 Support</h3>
   	   				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
   	   			   </li>
   	   			   <div class="clearfix"> </div>
   	   			</ul>
			</div>
			<div class="col-md-4">
				<ul class="service_grid">
   	   			   <i class="s3"> </i>
   	   			   <li class="desc">
   	   				<h3>Protect Your pc</h3>
   	   				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
   	   			   </li>
   	   			   <div class="clearfix"> </div>
   	   			</ul>
			</div>
		</div>
		<div class="box1">
			<div class="col-md-4">
				<ul class="service_grid">
   	   			   <i class="s4"> </i>
   	   			   <li class="desc">
   	   				<h3>DNS Control</h3>
   	   				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
   	   			   </li>
   	   			   <div class="clearfix"> </div>
   	   			</ul>
			</div>
			<div class="col-md-4">
				<ul class="service_grid">
   	   			   <i class="s5"> </i>
   	   			   <li class="desc">
   	   				<h3>Domain Transfer</h3>
   	   				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
   	   			   </li>
   	   			   <div class="clearfix"> </div>
   	   			</ul>
			</div>
			<div class="col-md-4">
				<ul class="service_grid">
   	   			   <i class="s6"> </i>
   	   			   <li class="desc">
   	   				<h3>100% Security</h3>
   	   				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
   	   			   </li>
   	   			   <div class="clearfix"> </div>
   	   			</ul>
			</div>
		</div>
	</div>
</div>

<div class="price">
	<div class="container">
		<h4 class="tz-title-4 tzcolor-blue">
            <p class="tzweight_Bold"><span class="m_1">Наші<br></span>Тарифи</p>
        </h4>
		    <% @tariffs.each do |tariff| %>
			<div class="col-md-4">
				<div class="pricing-table-grid">
					<h3><span class="dollar">₴</span><%= tariff.price %><br><span class="month">За місяць</span></h3>
					<ul>
						<li><span><%= tariff.title %></span></li>
						<li><a href="javascript:;"><%= tariff.speed %> Мбіт/сек</a></li>
						<li><a href="javascript:;"><%= tariff.service1 %></a></li>
						<li><a href="javascript:;"><%= tariff.service2 %></a></li>
					</ul>
					<% if user_signed_in? %>
						<a class="popup-with-zoom-anim order-btn" href="#small-dialog">Купити</a>
					<% else %>
						<%= link_to 'Увійти щоб замовити', new_user_session_path, class: 'order-btn' %></a>
					<% end %>
				</div>
		     </div>
	     <% end %>
		    <div class="clearfix"> </div>								
       </div>
</div>

<div class="about_grid1">
	<div class="container">
		<h4 class="tz-title-4 tzcolor-blue">
            <p class="tzweight_Bold"><span class="m_1">Відгуки<br></span>про нас</p>
        </h4>
		<div class="wmuSlider example1" style="height: 150px;">
			<div class="wmuSliderWrapper">
				<% @testimonials.each do |testimonial| %>
					<article style="position: relative; width: 100%; opacity: 1;"> 
					   	   <div class="banner-wrap">
					   	 	   <ul class="grid-1">
					   	 			<li class="grid-1_left">
					   	 				<%= image_tag(testimonial.photo.url, class: 'img-responsive') %>
					   	 			</li>
					   	 			<li class="grid-1_right">
					   	 				<p><%= testimonial.message %></p>
									    <h4>Написав<br><span class="m_10"><%= testimonial.name %></span></h4>
					   	 			</li>
					   	 			<div class="clearfix"> </div>
					   	 		</ul>
					   	   </div>
					   </article>
				   <% end %>
				</div>
			    <ul class="wmuSliderPagination">
			    	<% i = 0 %>
			    	<% @testimonials.each do |testimonial| %>
                		<li><a href="#" class=""><%= i+=1 %></a></li>
            		<% end %>
                </ul>
            <ul class="wmuSliderPagination">
            <% i = 0 %>
	    	<% @testimonials.each do |testimonial| %>
        		<li><a href="#" class=""><%= i+=1 %></a></li>
    		<% end %>
            </ul></div>
			  <script>
       			$('.example1').wmuSlider();         
   		     </script> 	           	      
	</div>
</div>