<div class="about">
	 <div class="container">
		<h1>Наші<span class="m_1"><br>тарифи</span></h1>
	</div>
</div>
<div class="about_grid">
	<div class="container">
		<h4 class="tz-title-4 tzcolor-blue">
            <p class="tzweight_Bold"><span class="m_1">Слідуйте<br></span>цим крокам</p>
        </h4>
		<div class="plans_grid">
		    <div class="col-md-4">
				<ul class="project_box">
				  <li class="mini-post-meta1">1</li>
				  <li class="desc"><h5><a href="#">Choose Your Plan</a></h5>
				  	 <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
				  </li>	
				  <div class="clearfix"> </div>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="project_box">
				  <li class="mini-post-meta1">2</li>
				  <li class="desc"><h5><a href="#">Creative Your Account</a></h5>
				  	 <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
				  </li>	
				  <div class="clearfix"> </div>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="project_box">
				  <li class="mini-post-meta1">3</li>
				  <li class="desc"><h5><a href="#">Launch Your Hosting</a></h5>
				  	 <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
				  </li>	
				  <div class="clearfix"> </div>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
     </div>
</div>

<div class="about_grid1">
	<div class="container">
		<h4 class="tz-title-4 tzcolor-blue">
            <p class="tzweight_Bold"><span class="m_1">Виберіть<br></span>тариф</p>
        </h4>
        <% @tariffs.each do |tariff| %>
			<div class="col-md-4">
				<div class="pricing-table-grid plan_box">
					<h3><span class="dollar">₴</span><%= tariff.price %><br><span class="month">За місяць</span></h3>
					<ul>
						<li><span><%= tariff.title %></span></li>
						<li><a href="javascript:;"><%= tariff.speed %> Мбіт/сек</a></li>
						<li><a href="javascript:;"><%= tariff.service1 %></a></li>
						<li><a href="javascript:;"><%= tariff.service2 %></a></li>
					</ul>
					<% if user_signed_in? %>
						<%= link_to 'Купити', buy_tariff_path(tariff), method: :post, class: 'order-btn' %>
					<% else %>
						<%= link_to 'Увійти щоб замовити', new_user_session_path, class: 'order-btn' %>
					<% end %>
				</div>
		     </div>
	     <% end %>
		    <div class="clearfix"> </div>
	</div>
</div>