<div class="account_grid">
  <div class="container">
      <%= devise_error_messages! %>
          <div class="col-md-6 login-left">
           <h4 class="tz-title-5 tzcolor-blue">
                    <p class="tzweight_Bold"><span class="m_20">Новий клієнт</span></p>
                 </h4>
         <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
         <%= link_to 'Реєстрація', new_user_registration_path, class: 'acount-btn' %>
         </div>
         <div class="col-md-6 login-right">
          <h4 class="tz-title-5 tzcolor-blue">
                    <p class="tzweight_Bold"><span class="m_20">Вхід</span></p>
                 </h4>
          
        <p>If you have an account with us, please log in.</p>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div>
          <span class="m_25">Email адреса<label>*</label></span>
            <%= f.email_field :email, autofocus: true %>
          </div>
          <div>
          <span class="m_25">пароль<label>*</label></span>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
           <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "Forgot your password?", new_password_path(resource_name), class: 'forgot' %>
          <% end -%>
            <%= f.submit "Log in" %>
          <% end %>
         </div> 
         <div class="clearfix"> </div>
      </div>
</div>