<!DOCTYPE HTML>
<html>
<head>
<title>Network provider</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Hosting Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!-- webfonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
<!-- webfonts -->
		<script>
		// 	$(document).ready(function() {
		// 		$('.popup-with-zoom-anim').magnificPopup({
		// 			type: 'inline',
		// 			fixedContentPos: false,
		// 			fixedBgPos: true,
		// 			overflowY: 'auto',
		// 			closeBtnInside: true,
		// 			preloader: false,
		// 			midClick: true,
		// 			removalDelay: 300,
		// 			mainClass: 'my-mfp-zoom-in'
		// 	});
		// });
		</script>
</head>
<body>
<div class="header">
	<div class="container">
		<div class="header_top">
			<div class="logo">
				<%= link_to root_path do %><img src="<%= root_url %>images/logo.png" alt=""/><% end %>
			</div> 
			<div class="cssmenu">
					<ul>
						<% if user_signed_in? %>
							<li class="active"><%= image_tag(current_user.avatar.url(:thumb), class: 'avatar-small') %></li> 
							<li class="active"><%= link_to user_dashboard_path do %>
								Доброго дня, <%= current_user.first_name %> <%= current_user.last_name %>
							<%end%>
							</li> 
							<li class="active"><%= link_to 'Вихід', destroy_user_session_path, method: :delete %></li> 
						<% else %>
							<li class="active"><%= link_to 'Вхід', new_user_session_path %></li> 
							<li><%= link_to 'Реєстрація', new_user_registration_path %></li>
						<% end %>
					</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="h_menu4"><!-- start h_menu4 -->
	        <a class="toggleMenu" href="#">Menu</a>
				<ul class="nav">
					<li><%= link_to 'Головна', root_path %></li>
					<li><%= link_to 'Про нас', about_path %></li>
					<li><%= link_to 'Пропозиції', offers_path %></li>
					<li><%= link_to 'Тарифи', tariffs_path %></li>
					<li><%= link_to 'FAQ', faq_path %></li>
					<li><%= link_to 'Відгуки', testimonials_path %></li>
					<li><%= link_to 'Блог', blog_path %></li>
					<li><%= link_to 'Контакти', contact_path %></li>
				 </ul>
	      </div><!-- end h_menu4 -->
     </div>
</div>

	<% if alert %>
		<div class="container">
		   	<div class="alert alert-danger fade in">
		    	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		    	<%= alert %>
		  	</div>
	  	</div>
  	<% end %>

  	<% if notice %>
  		<div class="container">
		  	<div class="alert alert-success fade in">
		    	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		    	<%= notice %>
		  	</div>
	  	</div>
  	<% end %>

<%= yield %>

<div class="footer">
	<div class="container">
		<div class="col-md-3 box_1">
			<img src="<%= root_url %>images/f_logo.png" alt=""/>
			<p>© 2016</p>
		</div>
		<div class="col-md-3 box_2">
			<h4>Посилання</h4>
			<ul class="list_2">
				<li><%= link_to 'Головна', root_path %></li>
				<li><%= link_to 'Про нас', about_path %></li>
				<li><%= link_to 'Пропозиції', offers_path %></li>
				<li><%= link_to 'Тарифи', tariffs_path %></li>
			</ul>
			<ul class="list_2">
				<li><%= link_to 'FAQ', faq_path %></li>
				<li><%= link_to 'Відгуки', testimonials_path %></li>
				<li><%= link_to 'Блог', blog_path %></li>
				<li><%= link_to 'Контакти', contact_path %></li>
			</ul>
			<div class="clearfix"> </div>
		</div>
		<div class="col-md-3 box_2">
			<h4>Зв’язатись</h4>
			<address class="address">
              <dl>
                 <dt></dt>
                 <dd>Адреса : <span><%= @contact.addr_country == 'UA' ? 'Україна' : @contact.addr_country %>, <%=  @contact.addr_city %>, <%=  @contact.addr_street %></span></dd>
                 <dd>E-mail : <a href="mailto:<%=  @contact.email_office %>"><%=  @contact.email_office %></a></dd>
                 <dd>Дзвінок : <span> <%=  @contact.phone_office %></span></dd>
              </dl>
           </address>
		</div>
	</div>
</div>
  <script type="text/javascript">
	$(function(){
	  //SyntaxHighlighter.all();
	});
	$(window).load(function(){
	  $('.flexslider').flexslider({
		animation: "slide",
		start: function(slider){
		  $('body').removeClass('loading');
		}
	  });
	});
  </script>
</body>
</html>